@use '@/styles/colors.scss' as *;

.hero {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background-color: $color-background;
    color: white;

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-text-primary;
    }
}

a {
    color: $color-text-primary;
}